:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.indicator-light {
  border: 1px solid black;
  border-radius: 100%;
  margin: auto;
}

.indicator-light.off {
  background: #f0f0f0;
}

.indicator-light.on {
  background: #fff700;
}

.react-flow__edge-path,
.react-flow__connection-path {
  stroke: #ff0000;
  stroke-width: 3;
  fill: none;
}

.react-flow__edges {
  z-index: 1001 !important;
}

.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge:focus .react-flow__edge-path,
.react-flow__edge:focus-visible .react-flow__edge-path {
  stroke: #ffff00;
}
